$primary-color: #f45866; //primary actions and buttons
$secondary-color: #a2666f; //for backgrounds, secondary actions or less prominent elements
$tertiary-color: #c45ab3; //Use for highlights, links, or accent elements
$fourth-color: #631a86; // Use for jeaders, titles and emphasis especially for text
$fifth-color: #f49390; //Use this for subtle backgrounds or as a hover effect
.announcementsBar {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1em;
}
.messageWindow {
  height: 40vh;
  border: 2px solid $tertiary-color;
  border-radius: 20px;
  padding: 1rem;
  overflow-y: auto;
}
.messageCard {
  padding: 0.75em;
  margin-bottom: 20px;
  border: 4px solid hsl(0, 0%, 75%);
  border-radius: 30px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 75%);
}
.messageTitle {
  color: $fourth-color;
}
.titleInput,
.messageArea {
  width: 100%;
  padding: 1em;
  border-radius: 20px;
  border: 2px solid hsl(0, 0%, 75%);
  margin-bottom: 1em;
  outline: none;
  box-sizing: border-box;
}

.titleInput {
  color: $fourth-color;
  font-size: 20px;
  font-weight: bold;
}
.messageArea {
  resize: none;
  height: 50px;
  font-family: 'Veranda', sans-serif;
}

.deleteButton {
  padding: 1em; /* Adjust padding for buttons */
  border: none; /* Optional: Remove border */
  background-color: $primary-color;
  color: white;
  width: 100px;
  cursor: pointer; /* Pointer cursor for buttons */
  border-radius: 15px;
}
.submitButton {
  width: 100%;
  padding: 1.5em;
  border: none;
  background-color: $fourth-color;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: $secondary-color;
}

form {
  flex: 1;
  max-width: none;
  padding: 1em;
  box-sizing: border-box;
}
.message {
  font-size: 20px;
}
.messageDate {
  font-size: 10px;
}
